nextjs-portal {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    background-color: black;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.profile-overlay-text {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-left: -2em;
    margin-right: -2em;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.blank {
    margin-top: 12.5em;
}

.About {
    text-align: center;
    margin-top: 5em;
    padding-top: 3em;
    font-size: 50px;
    color: #0064ff;
}

.mobile-aboutme-text {
    margin-bottom: 7.5em;
    font-size: 1.3em;
    font-weight: bold;
}

.support {
    text-align: center;
    font-size: 50px;
    color: #00ffff;
}

.banner {
    height: 17.5em;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobile-banner {
    height: 12em;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin10 {
    margin-top: 10%;
}

.mobile-list {
    text-align: center;
    margin-top: 3em;
    padding-top: 3em;
    font-size: 3.75em;
    color: white;
}

.discord {
    width: auto;
}

.spec {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.spec2,
.spec3 {
    font-size: 35px;
    color: white;
    text-decoration: none;
    height: 3em;
    width: 7em;
}

.account {
    height: 4em;
    margin: 30px;
    max-width: 6em;
}

.skill {
    height: 6em;
    margin: 20px;
    max-width: 6em;
}

.explain {
    text-align: left;
    margin-left: 30%;
}

.profile {
    height: 80px;
    width: 100px;
    margin-left: 300px;
    margin-bottom: 50px;
}

.version {
    text-align: center;
    padding-right: 40%;
    padding-top: 5%;
    font-size: 35px;
    color: white;
}

.release {
    padding-left: 25%;
    padding-top: 0%;
    font-size: 20px;
    color: white;
}

.img {
    width: 30%;
    height: auto;
    display: block;
    padding-left: 60%;
}

.link {
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #a0a0a0;
}

#About,
#Portfolio,
#Experience,
#Skills,
#Profile {
    overflow-y: hidden;
}
