body {
    background-color: black;
}

.m-hackathon-container {
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
}

.m-back-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    color: black;
    background-color: #bbbbbb;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.m-back-button:hover {
    opacity: 0.7;
}

.m-hackathon-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.m-title {
    margin-top: 5rem;
    font-size: 3rem;
}

.m-hackathon-content {
    margin: 0 auto;
    padding: 0 0.5rem;
}

.m-image-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.m-hackathon-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

.m-text-section {
    margin: 0.5rem;
}

.m-description {
    text-align: left;
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 1.4;
    color: #fff;
    padding: 0 0.3rem;
    white-space: pre-line; /* This will respect paragraph breaks */
}
