.m-home-container {
    min-height: 100vh;
    color: white;
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        90deg,
        #5a4fcf 0%,
        #00008b 25%,
        #6a5acd 50%,
        #4d4dff 75%,
        #0039a6 100%
    );
    background-size: 200% 100%;
    animation: gradientFlow 10s ease infinite;
    position: relative;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.m-home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.m-greeting {
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 1.2rem;
    gap: 0.5rem;
}

.m-wave {
    display: inline-block;
    animation: wave 2s infinite;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.m-description {
    font-size: 1em;
    line-height: 1.5;
    font-weight: normal;
    margin: 1rem 0;
    margin-top: 2.5em;
    color: #bbbbbb;
    padding: 0 1rem;
}

.m-gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, transparent, black);
    pointer-events: none;
}

.m-arrow-container {
    margin-top: -12em;
    margin-bottom: 20em;
    width: 100%;
}

.m-arrow {
    width: 4em;
    margin-top: 0em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 1.5em;
    }
}
